NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmVhcmJ5LXdoaXBwZXQtODAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_ensXHCbiFJiJn50fM3zU7y7iy7utAsQMnDTmBXwEtg

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/assesment
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/assesment



# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://avium937:j3Pq1ob2GP8Q4cp0@cluster0.ox5xd.mongodb.net/job_portal?retryWrites=true&w=majority&appName=Cluster0"


GEMINI_API_KEY="AIzaSyD6onCzrxU7SpgQG8PSf6dv99RGHMPulZs"

UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzNmZWM1ZjQ5N2ZkZGU4YWZjMzY3OTQ3ODRjZTY3MTY0ZTM0NmRhMzFkZDUwNDIzZGQyMDE5ZjFmNzc0YzA0NWYiLCJhcHBJZCI6InVncmc3cG9xazciLCJyZWdpb25zIjpbInNlYTEiXX0='
